.divider{
  display: flex;
  align-items: center;
  justify-content: center;
  &:before, &:after{
    content: "";
    flex-grow: 1;
    border-top: 1px solid $lighter;
    margin: 0 2rem;
  } 
}
@media (max-width: 576px){
  .divider{
    display: none;
  }
}

.img-h{
  height: 360px;
}
@media (max-width: 768px){
  .img-h{
    height: 160px;
  }
}

.img-hovereffect {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.img-hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  top: -200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.1s ease-out 0.5s;
  transition: all 0.1s ease-out 0.5s;
}

.img-hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

// .img-hovereffect img {
//   display: block;
//   position: relative;
// }

.img-hovereffect .product-title {
  display: inline-block;
  text-decoration: none;
  padding: .5rem 1rem;
  text-transform: uppercase;
  margin-top: 140px;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  color: $basic;
  border: 1px solid $lighter;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.img-hovereffect .product-title:hover {
  box-shadow: 0 0 5px $lighter;
}

.img-hovereffect:hover .product-title {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  box-shadow: 0 0 5px $lighter;
  color: $basic;
  border: 1px solid $lighter;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

// 圖片zoom 效果
.card-hovereffect {
  overflow:hidden;
}
.card-hovereffect img {
  display: block;
  -webkit-transition:all .4s linear;
  transition:all .4s linear;
}
.card-hovereffect:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}
