// 圖片位置
.bg-cover{
  background-size: cover;
  background-position: center center;
}

// 卡片文字對齊方式
.card-text, .blockquote p{
  text-align: justify;
}

// 按鈕效果
.card-btn{
  transition: all .3s;
  &:hover{
    background: $main;
    color: #EAF0ED;
  }
}


.alert-rounded {
  border-radius: 50px;
}
  